@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Curriculum.Enitities.Course
@{
    ViewData["Title"] = "Delete Course";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="DeleteConfirmed">
            <h5>Delete Role</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="alert alert-warning" role="alert">
                Warning: Deleting this course will also delete all groups associated with it.
            </div>
            <div class="form-floating mt-3">
                <input asp-for="course_name" class="form-control" disabled aria-required="true"/>
                <label asp-for="course_name">Course Name</label>
                <span asp-validation-for="course_name" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="desc" class="form-control" disabled aria-required="true"/>
                <label asp-for="desc">Description</label>
                <span asp-validation-for="course_name" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="credit_hours" class="form-control" disabled aria-required="true"/>
                <label asp-for="credit_hours">Credit Hours</label>
                <span asp-validation-for="credit_hours" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="id" /> <!-- Add this line -->
            
            <div class="form-floating mt-3">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>
